@media (min-width:300px)and (max-width:576px) {
    .fa-bars{
        float: left;
        margin-left: 30vw;
        display: block;
    }
    .bar-icon{
        display: block;
    }
    .menu-bar ul li{
        display: none;
    }
    .hero{
        background-color: #3f414c;
        background: linear-gradient(#3f414c , #1a1a1d);
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .hero-content{
        width: 100vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-content h1{
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: white;
    }
    .hero-content .para{
        width: 80vw;
    }
    .hero-content p{
        color: white;
        margin-bottom: 20px;
    }
    .hero-content button{
        width: 120px;
        height: 40px;
        background-color: transparent;
        border: solid 2px rgb(222, 81, 10);
        border-radius: 20px;
        color: white;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .main{
        width: 80vw;
        height: 10vh;
        /* display: flex; */
        overflow: hidden;
        margin-left: 8vw;
        margin-top: 5vh;
    }
    .main h1{
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    
    .main-content{
        width: 100vw;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 15vh;
    }
    .left{
        width: 100%;
        margin-top: 4%;
        margin-left: 5%;
    }
    .left ul{
        list-style: none;
        margin-top: 5%;
    }
    .left ul li{
        line-height: 4.5vh;
    }
    .fa-circle-check{
        color: orange;
    }
    .right{
        width: 100%;
        margin-top: 4%;
        margin-left: 5%;
    }
    .right button{
        margin-top: 8%;
        width: 130px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: rgb(235, 89, 16);
        font-size: 1rem;
        color: white;
    }
    .fa-arrow-right{
        padding-left: 5px;
    }
    .main2{
        background-color: white;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .box{
        /* background-color: antiquewhite; */
        width: 85%;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-right: 10px; */
    }
    .box1{
        /* background-color: rgb(235, 89, 16); */
        width: 20%;
        height: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 1px gray;
    }
    .fa-binoculars{
        font-size: 1.8rem;
        padding-right: 10px;
    }
    .fa-cube{
        font-size: 1.8rem;
        padding-right: 10px;
    }
    .fa-sun{
        font-size: 1.8rem;
        padding-right: 10px;
    }
    .fa-slack{
        font-size: 1.8rem;
        padding-right: 10px;
    }
    .box1 p{
        display: none;
    }
    .content-box{
        width: 85%;
        height: auto;
        /* height: 60vh; */
        /* background-color: aqua; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .left-cont{
        width: 100%;
        /* background-color: yellow; */
    }
    .left-cont h4{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .left-cont p{
        font-style: italic;
        font-weight: 450;
        padding-top: 5px;
    }
    .left-cont ul{
        list-style: none;
    }
    .left-cont ul li{
        /* line-height: 5vh; */
        padding-top: 20px;
    }
    .left-cont h6{
        font-size: 1rem;
        font-weight: normal;
        padding-top: 30px;
    }
    .right-img{
        width: 100%;
        /* background-color: violet; */
    }
    .action{
        width: 100%;
        display: flex;
        height: auto;
    }
    .call{
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }
    .cnt{
        text-align: center;
    }
    .cnt h4{
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
    .cnt p{
        font-size: 1rem;
    }
    .btn button{
        width: 150px;
        height: 6vh;
        border: none;
        border-radius: 25px;
        background-color: #ef6603;
        color: white;
        font-size: 1rem;
        margin-top: 10px;
    }
    .service{
        width: 85%;
        padding-top: 10vh;
        margin-bottom: 5vh;
    }
    .offer h1{
        font-size: 1.3rem;
    }
    .card-box{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5vh;
        justify-content: space-between;
    }
    .card{
        width: 100%;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba(140, 140, 140, 0.329);
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 20px 0px;
    }
    .fa-credit-card{
        font-size: 3rem;
        padding-right: 20px;
    }
    .card h4{
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
    .testimonal-card{
        width: 100%;
        /* background-color: #2a2c39; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 3vh;
    }
    .f-card{
        width: 100%;
        /* height: 48vh; */
        background-color: white;
        box-shadow: 0px 0px 20px rgb(216, 216, 216);
        padding: 20px 20px;
        margin-bottom: 20px;
    }
    .pricing{
        width: 85%;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    .pricing .offer h1{
        text-transform: uppercase;
    } 
    .pricing-card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* margin-top: 5vh; */
    }
    .price-card{
        width: 100%;
        height: 50vh;
        background-color: white;
        box-shadow: 0px 0px 20px rgb(222, 222, 222);
        border-radius: 10px;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .add-main{
        width: 100%;
        margin-top: 10vh;
        /* height: 30vh; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .left-add{
        width: 100%;
        /* background-color: #ea9f1f; */
    }
    .address{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .f-cnt{
        width: 72%;
    }
    .calls{
        width: 68%;
        display: flex;
        justify-content: space-between;
        /* margin-top: 4vh; */
    }
    .email{
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin-top: 4vh;
    }
    .circle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #dedede;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-add{
        width: 100%;
        /* background-color: #3f414c; */
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        /* height: 10vh; */
    }
    .footer-icon{
        width: 70vw;
        /* background-color: #441fea; */
        display: flex;
        justify-content: space-around;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
   
}
@media (min-width:577px)and (max-width:992px) {
    .fa-bars{
        margin-left: 50vw;
        display: block;
    }
    .bars{
        display: block;
    }
    .bar-icon{
        display: block;
    }
    .menu-bar ul li{
        display: none;
    }
    .hero{
        background-color: #3f414c;
        background: linear-gradient(#3f414c , #1a1a1d);
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .hero-content{
        width: 100vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-content h1{
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: white;
    }
    .hero-content .para{
        width: 80vw;
    }
    .hero-content p{
        color: white;
        margin-bottom: 20px;
    }
    .hero-content button{
        width: 120px;
        height: 40px;
        background-color: transparent;
        border: solid 2px rgb(222, 81, 10);
        border-radius: 20px;
        color: white;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .main{
        width: 80vw;
        height: 10vh;
        /* display: flex; */
        overflow: hidden;
        margin-left: 8vw;
        margin-top: 5vh;
    }
    .main h1{
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    
    .main-content{
        width: 100vw;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 15vh;
    }
    .left{
        width: 100%;
        margin-top: 4%;
        margin-left: 5%;
    }
    .left ul{
        list-style: none;
        margin-top: 5%;
    }
    .left ul li{
        line-height: 4.5vh;
    }
    .fa-circle-check{
        color: orange;
    }
    .right{
        width: 100%;
        margin-top: 4%;
        margin-left: 5%;
    }
    .right button{
        margin-top: 8%;
        width: 130px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: rgb(235, 89, 16);
        font-size: 1rem;
        color: white;
    }
    .fa-arrow-right{
        padding-left: 5px;
    }
    .main2{
        background-color: white;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .box{
        /* background-color: antiquewhite; */
        width: 85%;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-right: 10px; */
    }
    .box1{
        /* background-color: rgb(235, 89, 16); */
        width: 20%;
        height: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 1px gray;
    }
    .fa-binoculars{
        font-size: 1.8rem;
        padding-right: 10px;
    }
    .fa-cube{
        font-size: 1.8rem;
        padding-right: 10px;
    }
    .fa-sun{
        font-size: 1.8rem;
        padding-right: 10px;
    }
    .fa-slack{
        font-size: 1.8rem;
        padding-right: 10px;
    }
    .box1 p{
        display: none;
    }
    .content-box{
        width: 85%;
        height: auto;
        /* height: 60vh; */
        /* background-color: aqua; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .left-cont{
        width: 100%;
        /* background-color: yellow; */
    }
    .left-cont h4{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .left-cont p{
        font-style: italic;
        font-weight: 450;
        padding-top: 5px;
    }
    .left-cont ul{
        list-style: none;
    }
    .left-cont ul li{
        /* line-height: 5vh; */
        padding-top: 20px;
    }
    .left-cont h6{
        font-size: 1rem;
        font-weight: normal;
        padding-top: 30px;
    }
    .right-img{
        width: 100%;
        /* background-color: violet; */
    }
    .action{
        width: 100%;
        display: flex;
        height: auto;
    }
    .call{
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }
    .cnt{
        text-align: center;
    }
    .cnt h4{
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
    .cnt p{
        font-size: 1rem;
    }
    .btn button{
        width: 150px;
        height: 6vh;
        border: none;
        border-radius: 25px;
        background-color: #ef6603;
        color: white;
        font-size: 1rem;
        margin-top: 10px;
    }
    .service{
        width: 85%;
        padding-top: 10vh;
        margin-bottom: 5vh;
    }
    .offer h1{
        font-size: 1.3rem;
    }
    .card-box{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5vh;
        justify-content: space-between;
    }
    .card{
        width: 48%;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba(140, 140, 140, 0.329);
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 20px 0px;
    }
    .fa-credit-card{
        font-size: 3rem;
        padding-right: 20px;
    }
    .card h4{
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
    .pricing{
        width: 85%;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    .pricing .offer h1{
        text-transform: uppercase;
    } 
    .pricing-card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* margin-top: 5vh; */
    }
    .price-card{
        width: 48%;
        height: 50vh;
        background-color: white;
        box-shadow: 0px 0px 20px rgb(222, 222, 222);
        border-radius: 10px;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .add-main{
        width: 100%;
        margin-top: 10vh;
        /* height: 30vh; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .left-add{
        width: 100%;
        /* background-color: #ea9f1f; */
    }
    .address{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .f-cnt{
        width: 85%;
    }
    .calls{
        width: 35%;
        display: flex;
        justify-content: space-between;
        /* margin-top: 4vh; */
    }
    .email{
        width: 36%;
        display: flex;
        justify-content: space-between;
        margin-top: 4vh;
    }
    .circle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #dedede;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-add{
        width: 100%;
        /* background-color: #3f414c; */
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 5vh; */
        /* height: 10vh; */
    }
    .footer-icon{
        width: 40vw;
        /* background-color: #441fea; */
        display: flex;
        justify-content: space-around;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}